---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Modal from "../components/Modal.astro";
---

<Navbar />
<Layout title="Pagina de pruebas con Astro.">
  <div class="mt-4">
    <Modal
      title="Modal de pruebas"
      body="Este es el body del modal de pruebas, con contenido que se pasa usando la interfaz"
      btnClose="Cerrar"
      btnOpenModal="Abrir"
    />
  </div>
</Layout>
