---
interface Props {
    title: string;
    body: string;
    btnClose: string;
    btnOpenModal: string;
}

const {title, body, btnClose, btnOpenModal} = Astro.props;
---

<button class="btn" onclick="my_modal_5.showModal()">{btnOpenModal}</button>
<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg">{title}</h3>
    <p class="py-4">{body}</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">{btnClose}</button>
      </form>
    </div>
  </div>
</dialog>